<head>
    <style>
        .h1-about{
            color: white;
        }
        .p-about{
            color: white;
        }
    </style>
</head>



<h1 class="h1-about text-center">Sobre Nós </h1>
<p class="p-about text-center">Somos alunos do curso de multimédia do Instituto Superior Miguel Torga, e este é o projeto ao qual nos comprometemos a realizar no âmbito da unidade curricular de programação II leccionada pelo docente Frederico Fonseca </p>