<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <style>
    footer {
      padding-top: 0;
      margin-top: 0;
      border-top: 0;
    }

    footer ul {
      border-bottom: 0.1em solid white;

    }

    .nomes {
      color: white
    }

    .footer-bottom {
      display: inline-block;
    }

    .multimedia {
      float: right;
    }
  </style>
</head>

<div class="container">
  <footer class="pb-3 mb-4">
    <ul class="nav justify-content-center borde-bottom-footer pb-3 mb-3">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Sobre Nós</a></li>
    </ul>
    <div class="row">
      <div class="col-sm">
        <a href="https://multimedia.ismt.pt"><img src="/images/logos/logo_multimedia.png" class="multimedia"></a>
      </div>
      <div class="col-sm">
        <p class="text-center nomes">&copy; Fernando Apóstolo e Guilherme Brás</p>
        <p class="text-center text-muted">Prof. Frederico Fonseca<br>Programação II</p>
      </div>
      <div class="col-sm">
        <a href="https://ismt.pt/pt"><img src="/images/logos/logo_ismt.png" height="50px"></a>
      </div>
    </div>
  </footer>
</div>