<head>
  <style>
    
    header{
      background-color: #1b262c;
      margin-bottom: 1em;
    }

    .nav-header{
      font-size: 1.2em;
      border-radius: 50px;
      margin: 0em 1em 0em 0em;
    }
    
    .nav-header:hover{
      background-color: #151b1f;
      color: #3282b8;  
      box-shadow: 0 0 1em #0F4C75;
      transition: 0.5s;
    }

    .nav-header:active{
      color: #3282b8;  
      box-shadow: 0 0 1em #0F4C75;
      transition: 0.5s;
    }
    
    .border-header{
      border-bottom: 0.4em solid rgba(255, 255, 255, 0.5);
      margin-top: 0;

    }
  </style>
</head>

<header>
  <div class="px-2 py-1 pt-3 text-white border-header ">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/home" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="/images/logos/logo_branco.svg" class="bi me-2" height="70">
        </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/home" class="nav-link text-white nav-header">
             Home
            </a>
          </li>
          <li>
            <a href="/series" class="nav-link text-white nav-header">
             
              Séries
            </a>
          </li>
          <li>
            <a href="/movies" class="nav-link text-white nav-header">
             
              Filmes
            </a>
          </li>
          
          <li>
            <a href="/user" class="nav-link text-white nav-header">
              
              Perfil
            </a>
          </li>
        </ul>

      </div>
    
  </div>

</header>