<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head"); %>
      </head>
<body class="body-index">
    <header>
        <%- include('../partials/index/nav_logoff'); %>
      </header>
<main>
  <%- include("../partials/index/main"); %>
</main>    
</body>
</html>