<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/head") %>
</head>

<body class="body-login text-center">
<main>
  <%- include("../partials/login/register_form") %>
</main>
  <script src="http://localhost:3000/js/jquery.slim.min.js"></script>
  <script src="http://localhost:3000/js/bootstrap.min.js"></script>

</body>

</html>